/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* Navigation Bar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #A2CFFE;
    padding: 1em;
    position: sticky;
    top: 0;
}

.navbar-title {
    color: white;
    font-size: 2em;
    font-weight: bold;
}

.navbar-links a {
    color: black;
    text-decoration: none;
    padding: 0.5em 1em;
}

.navbar-links a:hover {
    text-decoration: underline;
    text-underline-offset: 8px;
    font-weight: bold;
}

/* Sections */
section {
    width: 95%;
    padding: 3em;
    margin: 2em auto;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle drop shadow */
}

/* Padding for paragraph text within sections */
section p {
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1em;
}

section h3 {
    padding-top: 1em;
    padding-left: 1.7em;
}

.section-image {
    padding-left: 2em;
    height: 500px; /* Maintains aspect ratio */
    margin: 1em 0; /* Adds spacing above and below */
}
/* Smooth Scrolling */
html {
    scroll-behavior: smooth;
}
